@font-face {
    font-family: 'Jersey';
    src: url('./fonts/Jersey10-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }

@font-face {
    font-family: 'MP';
    src: url('./fonts/MP16OSF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'MPSYMBOLS';
    src: url('./fonts/MP16TO1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

@font-face {
    font-family: 'PEPSI';
    src: url('./fonts/PEPSI_pl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

@font-face {
    font-family: 'AD';
    src: url('./fonts/Astral-Delight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  